:root { /* CSS variables */
  --bg: #fff;
  --main: #FC4A1A;
  --link: #0b0b8f;
  --linkSec: rgba(247, 183, 51, 0.7);
  --sec: #ffb500;
  --grey: #DFDCE3;
  --font: #333;
  --pink: #fa6484;
  --pink-hover: rgba(250, 100, 132, 0.7);
  --glow-full: rgba(250, 100, 132, 1);
  --glow-semi: rgba(250, 100, 132, 0.7);
  --glow-min: rgba(250, 100, 132, 0.5);
  --button-mail: #4db24c;
}

html {
  background-color: var(--bg);
  color: var(--font);
  font-family: 'Open sans', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Reset styles to avoid browser defaults */
body {
  margin: 0;
}

/** STICK NAV **/
nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

/* Added when scrollY >= nav.offsetTop */
body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li a.a-nav:hover {
  font-size: 1.2em
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

@media all and (min-width: 600px) {
  .fixed-nav li.logo {
    max-width: 500px;
  }
}

nav a {
  text-decoration: none; /* Allows click through hovering box */
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

/* Cursor following highlight class added on <a> hover  */

.highlight {
  transition: all 0.3s;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  left: 0;
  z-index: 1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

/** CONTENT **/

.content {
  min-height: calc(80vh);
  position: relative;
}

/* iframe {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10px;
  padding-right: 10px;
  border: var(--pink) 0.01px solid;
  box-shadow: 5px 10px 10px #888888;
  z-index: -1;
} */

/* grid for the homepage */

/* generic container */
.container {
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-gap: 2px;
}

.cta-container {
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 200px;
  grid-gap: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Glow */

h1 {
  text-align: center;
  color: var(--pink);
  text-decoration: underline;
}

h2 {
  color: var(--pink);
}

.glow {
  animation: glow 3s;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px var(--glow-full);
  }

  15% {
    text-shadow: 2px 2px 10px var(--glow-full),
      -2px -2px 10px var(--glow-full);
  }

  30% {
    text-shadow: 2px 2px 4px var(--glow-semi),
      -2px -2px 4px var(--glow-semi);
  }

  50% {
    text-shadow: 20px 20px 50px var(--glow-min),
      -20px -20px 50px var(--glow-min);
  }
}

section {
  padding: 0px 10%;
  border: var(--grey) 0.1px solid;
  background-color: rgba(0, 0, 0, 0.03);
  margin: 20px;
}

img#logo {
  opacity: 1;
  border: none;
  box-shadow: none;
  transform: translateX(0%) scale(1);
  width: 2em;
  height: 2em;
}

.mugshot {
  border-radius: 50%;
  border: var(--grey) 2px solid;
  box-shadow: 5px 10px 10px white;
}
.location {
  font-size: 24px;
}

.name {
  font-size: 36px;
  font-weight: 400;
}

.stars {
  font-size: 18px;
  display: inline;
  text-align: center;
  color: var(--sec);
}

.price {
  font-size: 2em;
}

.button-book, .button-mail {
  display: inline-block;
  border: none;
  font-size: 15px;
  line-height: 48px;
  height: 48px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  padding: 0 30px;
  width: 100%;
  cursor: pointer;
}

.button-book {
  background-color: var(--pink);
  transition: background-color 0.5s ease;
}

.button-book:hover {
  background-color: var(--pink-hover);
}

.button-mail {
  background-color: var(--button-mail);
}

img.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

footer {
  background-color: var(--grey);
  position: relative;
  text-align: right;
}

/* CSS BUTTON */

/* div */
.css-button { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;

}

/* a */
.effect1 {
  color: var(--pink);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 24px;
  position: relative;
  padding: 10px 50px 10px 20px; /* size of resulting button */

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

  -webkit-transform: scale(1);

      -ms-transform: scale(1);

          transform: scale(1); /*change scale(3) to scale(1)*/
}

.effect1-button-safari {
  color: #fff;
  text-decoration: none;
}

.effect1 .bg {
  background: var(--pink);
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
}

.effect1:hover {
  padding-right: 20px;
  color: #fff;
}

/* line -> bg translate */
.effect1:hover .bg {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.effect1 .bg:before, .effect1 .bg:after {
  content: '';
  height: 2px;
  width: 10px;
  background: var(--pink);
  position: absolute;
  right: -2px;      
  -webkit-transition: all 0.5s;      
  -o-transition: all 0.5s;      
  transition: all 0.5s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect1 .bg:after{
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after{
  right: 0;
}

.effect1:hover .bg:before{
  bottom: 10px;
  left: 20px;
}

.effect1:hover .bg:after{
  top: 10px;
  left: 20px;
}
